<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>

    <!--普通日志-->
    <logger name="ComLog">
      <level value="ALL" />
      <appender-ref ref="ComLog" />
    </logger>
    <appender name="ComLog" type="log4net.Appender.RollingFileAppender">
      <file value="Log/" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="5MB"/>
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd/yyyyMMdd'_ComLog.txt'" />
      <staticLogFileName value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %message %newline%n" />
      </layout>
    </appender>

    <!--API请求响应日志-->
    <logger name="ApiLog">
      <level value="ALL" />
      <appender-ref ref="ApiLog" />
    </logger>
    <appender name="ApiLog" type="log4net.Appender.RollingFileAppender">
      <file value="Log/" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="5MB"/>
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd/yyyyMMdd'_ApiLog.txt'" />
      <staticLogFileName value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %message %newline%n" />
      </layout>
    </appender>

    <!--SQL日志-->
    <logger name="SqlLog">
      <level value="ALL" />
      <appender-ref ref="SqlLog" />
    </logger>
    <appender name="SqlLog" type="log4net.Appender.RollingFileAppender">
      <file value="Log/" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="5MB"/>
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd/yyyyMMdd'_SqlLog.txt'" />
      <staticLogFileName value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %message %newline%n" />
      </layout>
    </appender>

    <!--全局异常日志-->
    <logger name="ExceptionLog">
      <level value="ALL" />
      <appender-ref ref="ExceptionLog" />
    </logger>
    <appender name="ExceptionLog" type="log4net.Appender.RollingFileAppender">
      <file value="Log/" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="5MB"/>
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd/yyyyMMdd'_ExceptionLog.txt'" />
      <staticLogFileName value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %message %newline%n" />
      </layout>
    </appender>

    <!--AOP日志-->
    <logger name="AopLog">
      <level value="ALL" />
      <appender-ref ref="AopLog" />
    </logger>
    <appender name="AopLog" type="log4net.Appender.RollingFileAppender">
      <file value="Log/" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="5MB"/>
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd/yyyyMMdd'_AopLog.txt'" />
      <staticLogFileName value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %message %newline%n" />
      </layout>
    </appender>

    <!--微信日志-->
    <logger name="wx">
      <level value="ALL" />
      <appender-ref ref="WxLog" />
    </logger>
    <appender name="WxLog" type="log4net.Appender.RollingFileAppender">
      <file value="Log/" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="5MB"/>
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd/yyyyMMdd'_WxLog.txt'" />
      <staticLogFileName value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %message %newline%n" />
      </layout>
    </appender>

  </log4net>
</configuration>